.example-spacer {
    flex: 1 1 auto;
}

.app-logo{
    margin-left: 1%;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
}

mat-icon{
    color:white
}

.app-logo:hover{
    cursor:pointer;
    font-size:105%
}

mat-toolbar{
    background-color: rgb(137, 107, 151);
}

a{
    color:white;
    text-decoration: none;
}