<div class="mt-5">
    <div class="row">
      <div class="col-lg-6 grid-margin stretch-card graph-one">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Monthly Spending (past 30 days)</h4>
            <canvas id="barChart" style="height:230px"></canvas>
        </div>
      </div>
      </div>
      
        <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Weekly Spending (past 7 days)</h4>
            <canvas id="doughnutChart" style="height:250px"></canvas>
          </div>
        </div>
      </div>
      
    </div>
    <!-- <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Spending by Category (overall)</h4>
              <canvas id="pieChart" style="height:250px"></canvas>
            </div>
        </div>
        </div>
    
    </div> -->
    <mat-divider></mat-divider>
    <app-expenses></app-expenses>